* {  /* o aesterisco representa regras gerais para a tela */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;;
}

body { /* alterando propriedades do corpo e tudo que nele está */
    background-color: rgb(81, 81, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora{ /* localizando a div calculadora pelo ID */
    width: 400px;
    padding: 0.5em;
    background-color: rgb(222, 222, 222);
    color: black;
    display: flex;
    flex-direction: column;
    border-color: #00000026;
}

#calculadora h3 { 
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operacao {
    text-align: right;
}

#operacao-preview, /* podemos fazer regras em conjunto para setores diferentes ao mesmo tempo dessa forma, economizando linhas */
#operacao-atual {
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#operacao-preview { /* alterando propriedades da div, referenciando-a pelo ID*/
    color: #666;
}

#operacao-atual{
    font-size: 3em;
    font-weight: 700;
}

#botoes-container { /* altera propriedade do grupo de botoes dentro da div */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

#botoes-container button{ /* altera as propriedades de cada botão individualmente, que esteja dentro da div */
    border-color: #00000026;
    height: 4em;
    font-size: 1.2em;
    background-color:#e9e9e9;
    cursor: pointer;
}

#botoes-container button:hover{ /* alera as propriedades enquando o mouse estiver sobre o botão */
    background-color: #d3d3d3;
    border-color: #00000026;
}

#botoes-container .number{ /* alerando os botoes da CLASSE number dentro da div */
    background-color: white;
}

#equal-btn{ /* buscando um elemento pelo ID e alterando suas prorpriedades */
    grid-column: span 2;
}